<div class="card">
    <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                <div class="form-group">
                        <div class="input-prepend input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fa fa-search"></i></span>
                                </div>
                                <input id="prependedInput" class="form-control" size="16" type="text" placeholder="Ex. banane">
                                <span class="input-group-append">
                                  <button class="btn btn-info" type="button">Recherche</button>
                                </span>
                              </div>
                </div></div>
            </div><!--/.row-->
            <div class="row">
                <div class="col-sm-12">
                <div class="form-group">
                    <label for="ccnumber">Réduction</label>
                    <input type="text" class="form-control" placeholder="Ex. 50%">
                </div>
                </div>
            </div><!--/.row-->
            <div class="row">
                <label class="col-md-1 col-form-label" for="date-input">Du: </label>
                <div class="col-md-11">
                    <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date">
                </div>
            </div><!--/.row-->
            <br>
            <div class="row">
                <label class="col-md-1 col-form-label" for="date-input">Au: </label>
                <div class="col-md-11">
                    <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date">
                </div>
            </div><!--/.row-->
            <br>
            <button type="button" class="btn btn-primary">Terminer</button>
    </div>
</div>
